.gallery {
  margin-top: 25px;
  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }
  h4 {
    font-size: $text-16;
    font-weight: 500;
    margin: 15px 0 7px;
  }
  h5 {
    font-size: $text-14;
    font-weight: 400;
    color: $tertiary;
  }
  &__wrap {
    margin-top: 40px;
  }
  .fg-panel {
    border-radius: 8px;
    border-color: $gray-base;
    background-color: $gray-lighter;
    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .fg-panel.fg-light .fg-panel-thumb.fg-selected {
    background-color: $gray-lighter;
  }
  .fg-panel-thumb-media {
    border-radius: 8px;
  }

  .fg-panel.fg-light .fg-panel-thumb {
    border-color: $gray-base;
  }
  &__button {
    display: flex;
    justify-content: center;
    .btn {
      margin-top: 50px;
    }
  }
}

.fg-panel.fg-medium.fg-x-large-width .fg-panel-thumb-media,
.fg-panel.fg-medium .fg-panel-thumb-media {
  border-radius: 4px;
  left: 50%;
  margin-left: -64px;
}

.fg-panel.fg-light.fg-panel-maximized {
  background-color: rgba(33, 32, 46, 0.75);
  img {
    border-radius: 4px;
  }
}
.fg-panel.fg-light.fg-panel-maximized .fg-panel-thumb {
  background-color: rgba(33, 32, 46, 0.5);
  border: none;
}
.fg-panel.fg-light.fg-panel-maximized .fg-panel-thumb:hover {
  background-color: rgba(33, 32, 46, 0.6);
}

.fg-panel.fg-medium .fg-panel-buttons .fg-panel-button-next,
.fg-panel.fg-medium .fg-panel-buttons .fg-panel-button-prev,
.fg-panel.fg-panel-no-mobile .fg-panel-buttons .fg-panel-button-next,
.fg-panel.fg-panel-no-mobile .fg-panel-buttons .fg-panel-button-prev,
.fg-panel.fg-light .fg-panel-thumbs-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(248, 248, 247, 0.5);
  border: none;
  color: rgba(33, 32, 46, 0.75);
  opacity: 1 !important;
  &:hover {
    opacity: 0.85 !important;
  }
}

.fg-panel.fg-light .fg-panel-thumbs-button {
  display: none;
}

.fg-panel.fg-light .fg-panel-button {
  background-color: rgba(248, 248, 247, 0.5);
  opacity: 1 !important;
  border: none;
  svg {
    path {
      fill: rgba(33, 32, 46, 0.75);
    }
  }
  &:hover {
    opacity: 0.45 !important;
  }
}
